.col-lg-2.pull-right
  %div#project-search-wrapper               
    = form_tag search_users_path, method: 'get' do
      %h3 Skill Set
      %label
        %input{:name => 'skills[]', :type => "checkbox", :value => "Graphic Design"}
        Graphic Design
      %label
        %input{:name => 'skills[]', :type => "checkbox", :value => "Web Development"}
        Web Development
      %label
        %input{:name => 'skills[]', :type => "checkbox", :value => "Accounting"}
        Accounting
      %label 
        %input{:name => 'skills[]', :type => "checkbox", :value => "Fundraising"}
        Fundraising
      %label 
        %input{:name => 'skills[]', :type => "checkbox", :value => "Business Development"}
        Business Development
      = submit_tag "Search", :id => "project-filter-submit"
