//- @user.applied_to_projects.each do |project|

$("#open_<%=@user.id%>").empty().append("<%= j render 'shared/project_thumbnail', project: @applied_to_projects %>")

//alert('hi there');

//<ul> <%= j render @applied_to_projects %> </li>