.container
  .container-wrapper
    .row
      .col-lg-2.col-sm-12
        %a.thumbnail.img-org{href: ""}
          %img{alt: "", "data-src" => "holder.js/100%x180"}/
      .col-lg-10.col-sm-12
        %h1 
          = link_to conversation.sender_user_name_of_recent_message, user_path(conversation.the_id_of_sender)
        .row
          .col-lg-3.col-md-3
            %h4.org-head
              %strong
                = link_to conversation.private_message_subject, private_message_path(conversation.id)
%h2 Body
.container
  .container-wrapper
    .row
      %p 
        = conversation.private_message_body
