.col-lg-3#footer-mission
  %p Our mission is to serve as a catalyst for positive social change by offering free technology tools, resources and best practices for nonprofit organizations to leverage their charitable efforts and serve their community more effectively.
.col-lg-3#footer-info
  %ul 
    %li 
      %a{:href => "#"} About
    %li 
      %a{:href => "#"} Services
    %li 
      %a{:href => "#"} Our Team 
    %li 
      %a{:href => "#"} Blog
    %li 
      %a{:href => "#"} Partner
    %li 
      %a{:href => "#"} Successes
.col-lg-3#footer-contact
  %ul 
    %li 
      %a{:href => "#"} Contact Us
    %li 
      %a{:href => "#"} Support
    %li 
      %a{:href => "#"} Membership Terms
.col-lg-3
  %div#social-icons
    = image_tag("facebook-icon.ico")
    = image_tag("twitter-icon.ico")
    = image_tag("linkedin-icon.ico")
    = image_tag("googleplus-icon.ico")
  %p#copy 2014 Grassroots.org