.col-lg-4
.col-lg-4#footer-contact
  %ul 
    %li 
      %a{:href => "#"} Membership Terms
    %li 
      %a{:href => "#"} About
    %li#copy 2014 Grassroots.org
        
  %div#social-ico-wrapper
    %div#social-icons
      = image_tag("facebook-icon.ico")
      = image_tag("twitter-icon.ico")
      = image_tag("linkedin-icon.ico")
      = image_tag("googleplus-icon.ico")
 
.col-lg-4
  