.row.msg-thumbnail
  .col-lg-2
    %a.thumbnail.index-message-thumb{href: ""}
      %img{alt: "", "data-src" => "holder.js/100%x180"}/
  .col-lg-10.msg-content-wrapper
    %h2
      %strong 
        = link_to message.sender.first_name, user_path(message.sender.id)
    %h4.org-head
      %strong
        = message.subject
    %p 
      = message.body
