- if current_user
  %link{:href => "/Users/robertjewell/sites/grassroots/app/assets/stylesheets", :rel => "stylesheet"}   
  %nav.navbar.navbar-default#sidebar-custom{:role => "navigation"}
    / Brand and toggle get grouped for better mobile display
    / <a class="navbar-brand" href="#">Brand</a>
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#interior-sidebar-wrapper
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to "Projects", projects_path if current_user
        %li
          = link_to "Organizations", organizations_path if current_user
        %li
          = link_to "Forum", questions_path if current_user


