.row#project-index-wrapper
  .col-lg-10
    - @projects.each do |project|
      = render 'shared/project_thumbnail', project: project
  .col-lg-2
    %div#project-search-wrapper 
      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text", :id => "project-search-bar"}
          %button.btn.btn-default{:type => "submit"} Submit
        = form_tag '/search', method: 'get' do
          %h3 Skill Set
          %label 
            %input{:name => 'skills[]', :type => "checkbox", :value => "graphic design"}
            Graphic Design
          %label
            %input{:name => 'skills[]', :type => "checkbox", :value => "web development"}
            Web Development
          %label
            %input{:name => 'skills[]', :type => "checkbox", :value => "accounting"}
            Accounting
          %label 
            %input{:name => 'skills[]', :type => "checkbox", :value => "fundraising"}
            Fundraising
          %label 
            %input{:name => 'skills[]', :type => "checkbox", :value => "business planning"}
            Business Planning
          %h3 Cause
          %label
            %input{:name => 'causes[]', :type => "checkbox", :value => "animals"}
            Animal
          %label 
            %input{:name => 'causes[]', :type => "checkbox", :value => "human rights"}
            Human Rights
          %label
            %input{:name => 'causes[]', :type => "checkbox", :value => "social"}
            Social Good
          = submit_tag "Search", :id => "project-filter-submit"
