@import "bootstrap";

body {
	background-color: #E9EAEC;
}

.row {
	background-color: #fff;
}

.container-wrapper {
	margin-bottom: 10px;
}

.thumbnail {
	margin-top: 31px;
	height: 11em; 
}

.org-head {
	line-height: .9;
}