.edit-profile-wrapper {
  padding-right: 5px;
}
            .edit-profile-wrapper input {
              text-indent: 5px; 
              width: 200px;
            }
        .edit-fieldset-wrapper {
          padding: 5px 0;
        }
          .edit-fieldset-wrapper h3 {
            border-bottom: 1px solid #E9EAEC;
          }
            .edit-input-wrapper {
              margin-bottom: 5px;
            }
              .edit-input-wrapper label {
                width: 100px;
              }
          #edit-organization-wrapper {}
            #edit-organization-wrapper h3 {
              padding: 5px 0;
            }  
            #edit-organization-wrapper label {
              width: 180px;
            }
            #edit-organization-wrapper input {
              width: 250px;
            }            
            #edit-submit {
              width: 80px;
            }
