ul {
  list-style-type: none;
}


/* Background Colors */


body {
  background-color: #E9EAEC;
}
  .row {
    background-color: #fff;
  }
  .white {
    background-color: #fff;
  }
  .row-custom {
    /* Overrides Row Background Color
    For Areas that Need Body Color */ 
    background-color: #E9EAEC;
  }     

/* Fonts */ 

.bold {
  font-weight: 700;
}

.gr-green-font {
  color: #2BBD60
}

.text-alert {
  color: #fff;
  text-transform: uppercase;
}
/* Buttons */ 

.notice {
  width: 75%;
  min-height: 25px;
  margin-top: -4px;
  margin-right: 4px;
  margin-bottom: 10px;
  background-color: buttonface;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  padding: 4px;
  cursor: initial;
  a,
  span {
    text-decoration: initial;
    display: block;
    text-align: center;
    font-weight: 700;
  }
  a:first-letter, 
  span:first-letter, 
  p:first-letter {
    text-transform: uppercase;
  }
}
.notice:hover {
  background-color: buttonface  ;
  a:hover, 
  span:hover {

  }
}

/* Images */ 

.thumbnail-staff {
    padding: 0;
  }

.img-thumb {
  width: 150px;
  height: 150px;
}

.img-staff {
      width: 150px;
}

.testing {
  height: 33px;
}

/* Glyphicons */

.glyphicon-star-empty {
  font-size: 20px;
}