/* Global Element Resets */ 

ul {
  list-style-type: none;
  padding-left: 0px;
} 

textarea {
  padding: 3px 0;
  text-indent: .83em;
  overflow: hidden;
}


  
/* Background Colors */


.logged-in {
  background-color: #E9EAEC;
}
.logged-out {
  background-color: #fff;
}
  .row {
    background-color: #fff;
  }
  .white {
    background-color: #fff;
  }
  .row-custom {
    /* Overrides Row Background Color
    For Areas that Need Body Color */ 
    background-color: #E9EAEC;
  }     

/* Fonts */ 

.bold {
  font-weight: 700;
  color: black;
}

.gr-green-font {
  color: #2BBD60;
}

.text-alert {
  color: #fff;
  text-transform: uppercase;
}

.small-text {
  color: gray;
  font-size: .83em;
}

.no-content {
  text-align: center;
  font-style: italic;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #B5B5B5;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #B5B5B5;
    opacity:  1;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #B5B5B5;
    opacity:  1;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #B5B5B5;
}

.no-links {
  color: gray;
}
/* Buttons */ 

.notice {
  width: 75%;
  min-height: 25px;
  margin-top: -4px;
  margin-right: 4px;
  margin-bottom: 10px;
  background-color: buttonface;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  padding: 4px;
  cursor: initial;
  a,
  span {
    text-decoration: initial;
    display: block;
    text-align: center;
    font-weight: 700;
  }
  a:first-letter, 
  span:first-letter, 
  p:first-letter {
    text-transform: uppercase;
  }
}
.notice:hover {
  background-color: buttonface  ;
  a:hover, 
  span:hover {

  }
}

/* Images */ 

.pic {
  img {
    max-width: 100%;
  }
  .lg-image {
    width: 100px;
  }
  .md-image {
    width: 75px;
  }
  .sm-image {
    width: 30px;
  }
  .tiny-image {
    width: 35px;
  }
}

.thumbnail-staff {
    padding: 0;
  }

.img-thumb {
  width: 150px;
  height: 150px;
}

.img-staff {
      width: 150px;
}

.testing {
  height: 33px;
}

/* Glyphicons */

.glyphicon-star-empty {
  font-size: 20px;
}
.glyphicon-chevron-up {
  display: block;
  text-align: center;
}
.glyphicon-chevron-up:hover, 
.glyphicon-circle-arrow-up:hover {
    color: #F9BF3A;
  }

/* Global Features */ 
.vote-size {
  font-size: 2em;
}