	#inbox-wrapper {
		padding: 25px 0;
	}
		#inbox-tabs{
			margin-top: 20px;
		}
				.active-tab {
					background-color: #e0e0e0;
				}
			.msg-thumbnail {
				border-bottom: 1px solid #e0e0e0;
				padding: 20px 0 30px;

			}
						.index-message-thumb {
						display: block;
						width: 100px;
						height: 100px;
						}
							.index-message-thumb img {
							max-width: 100%;
							}
					.msg-content-wrapper {
						margin-top: -18px;
					}