/* Top Navigation Bar */

  #header {
    .navbar-toggle {
      float: left;
      margin-left: 15px;
      margin-right: 0px;
    }
    .navbar-toggle-collapse {
      position: relative;
      left: 201px;
    }
        .account-tabs {
          float: right;
          border: 0px;
          li {
            float: left;
          }
        }
  } 

  /* Sidebar Navigation */

#sidebar-custom {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
    background-color: #2BBD60;
    border-radius: 0px;
  }
    .navbar-collapse.collapsing {
      -webkit-transition: height 100ms;
      -moz-transition: height 100ms;
      transition: height 100ms;
    }

    #interior-sidebar-wrapper {
      padding: 0;
      ul {
        margin-top: 56px;
        li {
            margin-top: -8px;
            border-top: 2px solid #2BC272;
            a {
              margin-left: 10px;
              padding-right: 30px;
              color: #fff;
              font-weight: 700; 
              font-size: 1.05em;
            }
            a:hover {
              background-color: #2BBD60;
          }
        }
      }
    } 

/* Active Pane */ 

#active-pane {
  padding: 0 5% 20px 0;
}
  .container-wrapper {
    margin: 20px 0;
  }
  .header-spacing {
    line-height: .9;
  }
@media screen and (max-width: 992px) {
  .thumbnail {
    margin: 1em auto 0;
  }
}

/* Landing Page */ 

.home-picture {
  .gr-infogfx {
    margin-left: 17%;
  }
  h3 {
    width: 550px;
    margin: 20px 11% 0px;
    text-align: center;
    font-weight: 700;
  }
}

.register-button {
  a {
  width: 47.4%;
  padding: 10px 0;
  margin: 20px 0 0 17%;
  border-radius: 3px;
  background-color: #2BBD60;
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  }
  a:hover {
    text-decoration: none;
  }
}

#registration-form {
  header {
    h3 {
      font-weight: 700;
      margin-left: 16.6666666667%;
    }
  }
  label {
    text-align: left;
  }
  p {
    margin-left: 16.6666666667%;
  }
  .btn-success {
    width: 18%;
    margin-left: 16.6666666667%;
  }
}

#join-reasons {
  margin: 25px 0 0;
  p {
    font-size: 1.25em;
  }
}

#gr-screenshots-wrapper {
  padding: 0 60px;
  margin-bottom: 30px;
  img {
    margin: 15px 0 10px;
  }
  .project-index-ss, .org-profile-ss {
    float: left;
  }
  .newsfeed-ss, .user-profile-ss {
    float: right;
  } 
}

/* Footer Section */ 

/* Logged In View of Footer */  

.logged-in {
#footer-wrapper {
  padding-bottom: 40px;
}
  footer {
    color: #709494;
    padding: 35px 0 0;
    margin-right: 45px;
    border-top: 2px solid #E2E6DF;
    ul {
      padding-left: 0px;
      li {
        font-size: .95em;
        a {
          color: #2E5C8A;
        }
        a:hover {
          color: #2E5C38;
          text-decoration: none;
        }
      }
    }
  }

    #footer-mission {
      p {
        font-size: .88em;
      }
    }

    #footer-info {
      ul {
        padding-left: 40px; 
        li {
          font-size: .95em;
        }
      }
    }

    #social-icons {
      margin-bottom: 60px;
      img {
        display: block;
        float: left;
        width: 40px;
        padding: 0 8px 0 0;
      }
    }
    
    #copy {
      margin-left: 12px;
      clear: both;
    }
}

/* Logged Out View of Footer */ 

.logged-out {
#footer-wrapper {
  padding-bottom: 40px;
}
  footer {
    color: #709494;
    padding: 35px 0 0;
    margin-right: 45px;
    border-top: 2px solid #E2E6DF;
    ul {
      margin: 0 30%;
      padding-left: 0px;
      text-align: center;
      li {
        font-size: .95em;
        a {
          color: #2E5C8A;
        }
        a:hover {
          color: #2E5C38;
          text-decoration: none;
        }
      }
    }
  }


    #footer-info {
      ul {
        padding-left: 40px; 
        li {
          font-size: .95em;
        }
        #copy {
          font-size: .95em;
          display: block;
          clear: both;
        }
      }
    }
  #social-ico-wrapper {
    padding: 0 8%;
     #social-icons {
      margin: 20px 60px;
      img {
        display: block;
        float: left;
        width: 40px;
        padding: 0 8px 0 0;
      }
    }
  }

}
