		#profile-details-row {
			padding: 28px 0 10px;
		}		
				.img-org {
	width: 150px;
	height: 150px;
}
/* Project Sections */ 
.thumbnail .thumbnail-project {
	margin-top: 31px;
	height: 11em; 
}