/*  Organization and User Show Area */
/* Banner Section of Profiles */ 
#profile-details-row {
  padding: 28px 0 10px;
    #org-info,
    #user-info {
      margin-top: 15px;
      margin-left: -5%;
    }
      #org-header-info > .header-spacing, 
      #user-header-info > .header-spacing {
        float: left;
        margin-top: 0px;
        margin-right: 15px;
     }
}
      
/* Bio Information */ 

  #user-data-wrapper,
  #org-data-wrapper {
   padding: 10px 0;
    dl {
      float: none;
    }
  }
       #org-data-wrapper {
        #org-data-pts {
          margin-bottom: 20px;
          .org-data {
            width: 150px;
          }
          #org-address-line {
            width: 350px;
          }
        }
      } 
         #org-address-line {
          width: 350px;
         }

/* Organization Staff Members - Org View Only */ 

#staff-wrapper {
  padding: 10px;
  .thumbnail-staff {
    padding: 5px 10px 0;
    .img-staff {
      margin-top: 7px;
      margin-bottom: 10px;
      margin-left: 17px;
    }
    h5{
    margin-top: 5px;
    } 
  }
} 


/* Badges Section */ 
#badges-wrapper {
  margin-top: 5px;
  padding: 5px;
  .badges {
    height: 150px;
    .badge-icon {
      .glyphicon {
        display: block;
        margin: 5px 0;
        text-align: center;
        font-size: 3em; 
      }
    }
    .badge-info {
      ul {
        padding-left: 0px;
        li {
          text-align: center;
          margin: 10px 0;
        }
      }
    }
  }
}
/* Networks Section of Profile */

#contacts {
  margin-top: 20px;
  #user-network {
    padding-bottom: 10px;
    .user-follower {
      min-height: 100px;
      padding-top: 10px;
      border-top: 1px solid #E2E6DF;
      .user-follower-info {
        font-size: .83em;
        .pic {
          float: left;
          width: 50px;
        }
        .network-user-content {
          float: left;
          margin-left: 20px;
          .follower-location {
            margin-top: -9px;
          }
          .follower-engaged {
            .follower-reason-date {
              padding-left: 5px;
            }
          }
        }
      }
      .follower-button {
        float: right;

      }
    }
  }
}

/* Organization and User Thumbnails */ 

/* Edit Profile Section */
/* Shared By Editing Organization Admin and User */ 
  .edit-profile-wrapper {
    padding-right: 5px;
    input {
      text-indent: 5px;
      width: 200px;
    }
  }
              .edit-fieldset-wrapper {
                padding: 5px 0;
                h3 {
                  border-bottom: 1px solid #E9EAEC;
                }
                .edit-input-wrapper {
                  margin-bottom: 5px;
                  label {
                    width: 100px;
                  }
                }
              }

            #edit-organization-wrapper {
              h3 {
                padding: 5px 0;
              }
              label {
                width: 180px;
              }
              input {
                width: 250px;
              }
            }

              #edit-submit {
              width: 80px;
            }

