#project-index-wrapper {
  padding: 20px 0 0 0;
} 

/* Project Index and Search */ 

#project-search-wrapper {
  margin-top: 31px;
  label {
    display: block;
    font-weight: 400;
    input {
      margin-top: -1px;
      margin-bottom: 5px;
    }
  }
    #project-search-bar {
      width: 117%;
    }
    #project-filter-submit {
      margin-top: 5px;
      /* Copies Bootstrap Form */
      margin-bottom: 0;
      display: inline-block;
      background-color: #fff;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid #ccc;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #project-filter-submit:hover {
      color: #333333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
}


/* Project Show */ 

  #project-details {
    .project-board {
      min-height: 275px;
      background-color: #fff;
      position:relative;
      .form-group{
        position: absolute;
        bottom: 0;
      }
    }
    .project-notice {
      width: 75%;
      padding: 1px 0 0;
      
      p {
        display: block;
        text-align: center;
      }
    }
    .open {
      background-color: #2BBD60;
    }
    .closed {
      background-color: #C01D1F;
    }
  }

/* Project Thumbnails */
/* Appears in User Profile, Organization Profile, Search Projects
 and Project Index */   
.project-thumb-wrapper {
  width: 33%;
}

  .thumbnail-project {
    height: 23.5em;
    margin-top: 31px;
    padding: 0;
    .pic {
      position: relative;
      width: 100%;
      height: 150px;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        margin: 0;
        z-index: 3;
      }
    }
    .volunteer-project-requests {
      position: absolute;
      top: 181px;
      right: 22px;
      .volunteer-glyph {
        font-size: 1.5em;
        line-height: 2;
      }
      .volunteer-plus {
        float: right;
        margin-top: -42px;
        .volunteer-plus-glyph {
          font-size: .79em;
          font-weight: 400;
        }
        .volunteer-number {
          margin-left: -7px;
          font-weight: 800;
          font-size: 1.25em;
        }
      }
    }
    .title {
      position: relative;
      bottom: 72px;
      z-index: 4;
      color: #fff;
      font-size: 1.25em;
      font-weight: 700;
      text-align: center;
      clear: both;
    }
    .org-link {
      position: relative;
      bottom: 45px;
    }
    .description {
      position: relative;
      bottom: 50px;
      min-height: 49px;
    }
    .project-thumb-info {
      position: relative;
      bottom: 53px;
      margin: 0 5px;
      dl {
        float: left;
      }
      dl.deadline {
        float: right;
      }
    }
  }

  .btn-project {
    position: relative;
    bottom: 65px;
    /* margin-top: 1em; */ 
  }

  .btn-project, .text-clear {
    clear: both;
  }

/* Create New Form and Edit Form */ 

section#form {
    .col-project-form {
        background-color: #fff;
              #skills {
                margin-right: -73px;
              }
              #deadline {
                margin-right: -175px;
              }
              #skills, 
              #deadline {
                .project-gen-input-fix {
                  line-height: 2.5em;
                }
              }
      } 
  .btn { 
    margin-right: 15px;
  }
} 
              /* Overrides on Bootrap for Inputs */ 

              #skills.col-lg-5, 
              #deadline.col-lg-3 , 
              #hours.col-lg-8 {
                padding-right: 10px;
              }

              #project_skills {
                height: 30px;
                border-radius: 3px;
                border-color: #ccc;
              }
              #project_skills:focus{
                border-color: #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
              }
          
              #project_deadline_2i, 
              #project_deadline_3i, 
              #project_deadline_1i {
                height: 30px;
                border-radius: 3px;
                border-color: #ccc;
              }
              #project_deadline_2i:focus, 
              #project_deadline_3i:focus, 
              #project_deadline_1i:focus {
                border-color: #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
              }

              /* End Overrides */ 
          
      #form-tip {
        margin-top: 114px;
      }

              

      
    


/* =============================================================================
                  Bootstrap Overrides 
================================================================================*/          


    
      
  