/* CSS Starts at the Description. */  
/* Use Proper Indendation */ 

#project-details-info {
}
	#project-details-top-right {
		margin-top: 43px;
	}

#project-desc-wrapper {
}
	#project-desc-row {
		padding: 20px 0;
	}

#project-details-org {
}
	#img-org-project {
		margin-top: 0px;
	}
	#project-details-cause {
		clear: both;
	}