section#form {
} 
		#skills {
			margin-right: -73px;
		}
			.project-gen-input-fix {
				line-height: 2.5em;
			}
				#project_skills {
					height: 30px;
					border-radius: 3px;
					border-color: #ccc;
				}
				#project_skills:focus{
					border-color: #66afe9;
					-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
				}
		#deadline {
			margin-right: -100px;
			}
				#project_deadline_2i, 
				#project_deadline_3i, 
				#project_deadline_1i {
					height: 30px;
					border-radius: 3px;
					border-color: #ccc;
				}
				#project_deadline_2i:focus, 
				#project_deadline_3i:focus, 
				#project_deadline_1i:focus {
					border-color: #66afe9;
					-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
				}
	#form-tip {
		margin-top: 114px;
	}

/* =============================================================================
									Bootstrap Overrides 
================================================================================*/					

section#form {
}
		.col-project-form {
			background-color: #fff;
		} 
			#skills.col-lg-5, #deadline.col-lg-3 , #hours.col-lg-8 {
				/* If Sizes Of The Columns Change in View, Change 
				According Here */ 
				padding-right: 10px;
			}
	section#form .btn {	
		margin-right: 15px;
	}