%div#search-bar
  %form.navbar-form.navbar-left{:role => "search"}
    .form-group
      %input.form-control{:placeholder => "Search", :type => "text"}
    %button.btn.btn-default{:type => "submit"} Submit
.row
  - @organizations.each do |organization|
    = render "shared/organization_thumbnail", organization: organization