.container
  .container-wrapper
    .row
      .col-lg-12
        .row
          .col-lg-2
            %a.thumbnail{href: ""}
              %img{alt: "", "data-src" => "holder.js/100%x180"}/
          .col-lg-10 
            %h1 Organization Name
            .row
              .col-lg-3
                %h4.org-head
                  %strong 1912
                %h4.org-head 
                  %strong New York, NY
                %h4.org-head 
                  %strong Budget: $22,000,000.00
                %h4.org-head 
                  %strong Cause: Human Rights
              .col-lg-6.col-lg-offset-1
                %p The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
  .container
    .row-fluid.span12
      .col-md-4.well
        %dl.dl-horizontal
          %dt
            %span.glyphicon.glyphicon-user
          %dd Jane Smith
          %dt Position:
          %dd Execituve Director
        %dl.dl-horizontal
          %dt
            %span.glyphicon.glyphicon-user
          %dd Jane Smith
          %dt Position:
          %dd Execituve Director
      .col-md-4.well
        %dl.dl-horizontal
          %dt
            %span.glyphicon.glyphicon-user
          %dd Jane Smith
          %dt Position:
          %dd Execituve Director
        %dl.dl-horizontal
          %dt
            %span.glyphicon.glyphicon-user
          %dd Jane Smith
          %dt Position:
          %dd Execituve Director